[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
backcall = "*"
certifi = "*"
chardet = "*"
coreapi = "*"
coreschema = "*"
decorator = "*"
defusedxml = "*"
django-allauth = "*"
django-cors-headers = "*"
django-rest-auth = "*"
django-rest-swagger = "*"
django-taggit = "*"
gunicorn = "*"
jedi = "*"
oauthlib = "*"
openapi-codec = "*"
parso = "*"
pexpect = "*"
pickleshare = "*"
"psycopg2" = "*"
ptyprocess = "*"
"python3-openid" = "*"
pytz = "*"
requests = "*"
requests-oauthlib = "*"
simplejson = "*"
six = "*"
traitlets = "*"
uritemplate = "*"
"urllib3" = "*"
wcwidth = "*"
"Jinja2" = "*"
Markdown = "*"
MarkupSafe = "*"
Pillow = "*"
prompt_toolkit = "*"
Pygments = "*"
django-heroku = "*"
whitenoise = "*"
django = "*"
djangorestframework = "*"

[requires]
python_version = "3.7"
