{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

  <h1 class="tomato">{{ post.title }}!</h1>
    <br/>
    <div class="vhs>">
{#  <iframe width="75%" height="315" src={{ post.video }} frameborder="40px"#}
{#          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
        <p class="date">
    Published {{ post.publish }} by {{ post.author }}
  </p>
      </div>
    <br/>

    <p>
  {{ post.body|markdown }}
  </p>
  <div>
{#  <iframe width="560" height="315" src={{ post.video }} frameborder="20px"#}
{#          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
   </div>
    <hr/>
    <a data-tooltip="Send This To A Friend!" href="{% url "blog:post_share" post.id %}">
      Share this post
    </a>


  <h2>Similar posts</h2>
  {% for post in similar_posts %}
    <p>
      <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
    </p>
  {% empty %}
    There are no similar posts yet.
  {% endfor %}

  {% with comments.count as total_comments %}
          <hr/>

    <h2>
      {{ total_comments }} comment{{ total_comments|pluralize }}
    </h2>
  {% endwith %}
  {% for comment in comments %}
    <div class="comment">
      <p class="info">
        Comment {{ forloop.counter }} by {{ comment.name }}
        {{ comment.created }}
      </p>
      {{ comment.body|linebreaks }}
    </div>
  {% empty %}
    <p>There are no comments yet.</p>
  {% endfor %}

  {% if new_comment %}
    <h2>Your comment has been added.</h2>
  {% else %}
          <hr/>

<div class="card card-5">
{% if user.is_authenticated %}
<h2>Add a new comment</h2>
    <form action="." method="post">
      {{ usercomment_form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Add comment"></p>
    </form>

    {% else %}
<p>
    Please Login To Leave A Comment
</p>
  {% endif %}

</div>
  {% endif %}
{% endblock %}
