{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}CollegeBudgetStudio.com{% endblock %}

{% block content %}
{#    <div class="text">#}
{#     <h1 class="tomato2" >CollegeBudgetStudio.com</h1>#}
{# <div class="rw-sentence rw-words rw-words-1">#}
{#      <span>Full Stack is awesome.</span>#}
{#      <span>IOT is amazing.</span>#}
{#      <span>GIS is super fun.</span>#}
{#      <span>fish tacos will be for lunch...</span>#}
{#      <span>.</span>#}
{#  </div>#}
{#</div>#}
{#  <h1>Where : </h1>#}
  {% if tag %}
    <h2>Posts tagged with "{{ tag.name }}"</h2>
  {% endif %}
  {% for post in posts %}
{#      <div class="comment">#}
    <h2>
      <a data-tooltip="Click To Check It Out" href="{{ post.get_absolute_url }}">
        {{ post.title }}
      </a>
    </h2>
    <p class="tags">
      Tags:
      {% for tag in post.tags.all %}
        <a data-tooltip="Hash Tags LOL" href="{% url "blog:post_list_by_tag" tag.slug %}">
          {{ tag.name }}
        </a>
        {% if not forloop.last %}, {% endif %}
      {% endfor %}
    </p>
{#      </div>#}
    <p class="date">
      Published {{ post.publish }} by Ryan
    </p>

    {{ post.body|markdown|truncatewords_html:30 }}

  {% endfor %}
  {% include "pagination.html" with page=posts %}
{% endblock %}
